<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="#" method="post">
        <label for="username">Login</label>
        <input type="text" id="login" name="login">
        <br>
        <label for="password">Senha</label>
        <input type="password" id="senha" name="senha">
        <br>
        <input type="submit" value="Entrar">
    </form>
</body>
</html>